<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.lineageos.slider"
          android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CONTROL_DISPLAY_COLOR_TRANSFORMS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.NETWORK_AIRPLANE_MODE" />
    <uses-permission android:name="android.permission.REMOVE_TASKS" />
    <uses-permission android:name="android.permission.SET_ORIENTATION" />
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="lineageos.permission.WRITE_SETTINGS" />

    <application
        android:name=".SliderApp"
        android:theme="@android:style/Theme.DeviceDefault.DayNight"
        android:label="@string/slider_settings_title"
        android:persistent="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">

        <activity
            android:name=".SliderSettingsActivity"
            android:label="@string/slider_settings_title"
            android:theme="@style/Theme.SubSettingsBase.Expressive"
            android:exported="true">
            <intent-filter>
                <action android:name="org.lineageos.slider.SETTINGS" />
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
