<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.lineageos.slider"
          android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE" />
    <uses-permission android:name="lineageos.permission.WRITE_SETTINGS" />

    <application
        android:name=".SliderApp"
        android:label="@string/slider_settings_title"
        android:persistent="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true" />
</manifest>
